@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
}

header div h2 {
  color: #222;
  margin-top: 20px;
}

header div p {
  margin: 8px 0;
}

header div button {
  background-color: #6c4fbb;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

header div button:hover {
  transition: 1s;
  background-color: #4919ce;
}

header, .form, main {
  margin: 0 auto 32px;
  max-width: 600px;
  width: 90%;
}

main section.form {
  text-align: center;
}

/* ===FORMULÁRIO=== */

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  border-radius: 6px;
  background-color: #6c4fbb;
  padding: 15px 10px;
  color: #fff;
}
form input,
form button {
  width: 100%;
  padding: 8px 8px;
  margin: 2px 0;
  border-radius: 4px;
}
form input {
  background-color: transparent;
  border: 1px solid #fff;
}

form input::placeholder {
  color: #fff;
}

form button {
  font-weight: bold;
  cursor: pointer;
}

.form {
  transition: 300ms;
}

.hide {
  opacity: 0;
  visibility: hidden;
  /* height: 0; */
  margin-top: -40px;

}

/* section.form button[type=submit] {
  padding: 4px 8px;

} */